.c-mypage-container {
  padding: 0 $space_8l;
  overflow: hidden;
  @include mq(){
    padding: $space_2l 0;
    margin: 0 auto;
    width: 95%;
  }
}

.c-price-red {
  color: $theme_red;
}
.c-price-line {
  color: $theme_gray;
  text-decoration: line-through;
}

.c-mypage-container__title-box {
  box-sizing: border-box;
  padding: $space_5l;
  text-align: center;
  @include mq(){
    padding: $space_2l 0;
  }
}
.c-mypage-container__title {
  font-size: $font_2l;
  @include mq(){
    font-size: $font_l;
    font-weight: bold;
  }
}
.c-mypage-container__title:after {
	background-color: $theme_black;
	content: "";
  display: block;
	height: 1px;
	margin: $space_2l auto 0;
  width: 50px;
  @include mq(){
    margin: $space_s auto 0;
  }
}
.c-mypage__head-info {
  font-size: $font_l;
  padding: $space_s $space_2l;
  border-bottom: 3px solid $theme_light_black;
  margin-bottom: $space_3l;
  box-sizing: border-box;
  @include mq(){
    margin: $space_s auto $space_m;
    font-size: $font_s;
  }
}


.c-mypage-box {
  border: 1px solid #999999;
  box-sizing: border-box;
  display: flex;
  float: left;
  height: 150px;
  justify-content: space-between;
  margin: 0 $space_2l $space_2l 0;
  position: relative;
  width: 400px;
  @include mq(){
    height: 100px;
    margin: 0 0 $space_m 0;
    width: 100%;
  }
  &:hover {
    box-shadow: 0 0 6px $theme_gray;
    border: 1px solid $theme_black;
  }
}

.c-mypage-box__info {
  padding-top: $space_2l;
  text-align: center;
  width: 250px;
  @include mq(){
    padding-top: $space_s;
    width: 65%;
  }
}
.c-mypage-box__info--text {
  @include mq(){
    box-sizing: border-box;
    float: left;
    font-size: $font_sp-m;
    height: 100px;
    line-height: 100px;
    overflow:hidden;
    padding-top: $space_s;
    text-overflow:ellipsis;
    text-align: center;
    white-space:nowrap;
    width: 65%;
  }
}

.c-mypage-box__img {
  box-sizing: border-box;
  height: 148px;
  object-fit: cover;
  width: 150px;
  @include mq(){
    float: left;
    height: 98px;
    width: 100px;
  }
}

.c-mypage-box__link {
  text-decoration: none;
  color: #333;
}

.c-mypage-box__title {
  background: $theme_yellow;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  display: flex;
  height: $space_4l;
  justify-content: space-between;
  line-height: $space_4l;
  padding: 0 $space_m;
}


.c-mypage-box__item {
  box-sizing: border-box;
  overflow:hidden;
  padding: $space_s;
  text-overflow:ellipsis;
  width:100%;
  white-space:nowrap;
  @include mq(){
    padding: 0 0 $space_s 0;
  }
}

.c-mypage-box__btn-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-top: $space_m;
  @include mq(){
    margin-top: $space_s;
    width: 100%;
  }
}

.c-mypage-box__btn {
  border: none;
  color: $theme_white;
  cursor: pointer;
  display: block;
  font-size: $font_sp-m;
  float: left;
  height: $space_3l;
  line-height: $space_3l;
  letter-spacing: 0.1em;
  transition: .2s;
  margin: 0;
  width: 150px;
  @include mq(){
    height: $space_2xl;
    line-height: $space_2xl;
  }
}
.c-mypage-box__company-btn{
  margin: 0 auto;
}

.c-mypage-box__company-sp-size-btn{
  @include mq(){
    width: 60%;
  }
}
.c-mypage-box__user-sp-size-btn{
  @include mq(){
    width: 50%;
  }
}


.c-mypage-box__btn--normal {
  background: $theme_yellow;
}
.c-mypage-box__btn--normal:hover {
  transition: .2s;
  background: darken($theme_yellow, 3%);
}
.c-mypage-box__btn--check {
  background: darken($theme_green, 7%);
}

.c-mypage-small-container__btn-box {
  float: left;
  height: 150px;
  position: relative;
  width: 400px;
  @include mq() {
    width: 100%;
  }
}

.c-mypage-small-container__btn{
  border: 1px solid #999999;
  background: $theme_white;
  color: $theme_gray;
  cursor: pointer;
  display: block;
  margin: $space_5l auto;
  padding: $space_2l $space_3l;
  text-decoration: none;
  text-align: center;
  width: 220px;
  @include mq() {
    width: 60%;
    padding: $space_l $space_2l;
  }
}

.c-mypage-small-container__btn:hover {
  border: 1px solid $theme_black;
  color: $theme_black;
}

.c-mypage-small-container__btn-logo {
  color: $theme_gray;
  position:absolute;
}
