.c-product__container {
  font-size: $font-m;
}

.c-product__main-container {
  padding: $space_5l 0 0;
  margin: 0 auto;
  width: 500px;
}

.c-product__item {
  margin: $space_m auto $space_l;
  overflow: hidden;
}

.c-product__info {
  overflow: hidden;
  margin-bottom: $space_m;
  height: $space_3l;
  line-height: $space_3l;
}

.c-product__warning {
  color: $theme_white;
  text-align: center;
  width: $space_4l;
  background: $theme_red;
  border-radius: 5px;
  float: left;
  font-size: $font_s;
}
.c-product__name {
  color: black;
  float: left;
  width: 100px;
}
.c-product__input {
  box-sizing: border-box;
  background: $theme_super_light_gray;
  border: none;
  outline: none;
  padding: $space_l;
  height: $space_6l;
  width: 300px;
  font-size: $font_m;
}
.c-product__input--small {
  box-sizing: border-box;
  background: $theme_super_light_gray;
  border: none;
  outline: none;
  padding: $space_l;
  height: $space_6l;
  width: 100px;
  text-align: right;
  font-size: $font_m;
}
.c-product__input-for-expiration {
  box-sizing: border-box;
  background: $theme_super_light_gray;
  border: none;
  outline: none;
  padding: $space_l;
  width: 100px;
  height: $space_6l;
  float: left;
  padding: 20px 0 20px 10px;
  font-size: $font_m;
}
.c-product__letter {
  color: $theme_gray;
  padding: $space_2l $space_3l $space_2l $space_m;
  float: left;
}
.c-product__letter-for-yen {
  color: $theme_gray;
  padding-left: $space_s;

}

.c-product__btn-box {
  margin: $space_4l auto;
  position: relative;
  text-align: center;
  width: 250px;
}
.c-product__btn {
  align-items: center;
  border: 0;
  color: $theme_white;
  cursor: pointer;
  height: $space_5l;
  font-size: $font_s;
  letter-spacing: 0.1em;
  line-height: $space_5l;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
}
.c-product__create-btn {
  background: $theme_yellow;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.c-product__create-btn:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 8px 8px 0 rgba(0, 0, 0, 0.24);

}
.c-product__warning-btn {
  display: block;
  color: $theme_white;
  text-align: center;
  cursor: pointer;
  height: $space_5l;
  font-size: $font_s;
  letter-spacing: 0.1em;
  line-height: $space_5l;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 250px;
  margin: 0 auto 100px;
  height: $space_5l;
  background: $theme_red;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.c-product__warning-btn:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 8px 8px 0 rgba(0, 0, 0, 0.24);
}

.c-product__select-box {
	overflow: hidden;
	margin: 0 220px 0 0;
	text-align: center;
  box-sizing: border-box;
  background: $theme_super_light_gray;
  border: none;
  font-size: $font_m;
  outline: none;
  width: 250px;
  height: $space_6l;
  padding: $space_2l 0 $space_2l $space_2l;
  border-bottom: 3px solid $theme_gray_word_bottom;
  background: $theme_super_light_gray;
  position: relative;
}
.c-product__select-box select {
  box-shadow: none;
	cursor: pointer;
	border: none;
  font-size: $font_m;
	outline: none;
	-webkit-appearance: none;
	appearance: none;
  width: 200px;
}
.c-product__select-box select::-ms-expand {
    display: none;
}
.c-product__select-box:before {
	position: absolute;
	top: 30px;
	right: 20px;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid $theme_black;
	pointer-events: none;
}
