.c-product-detail{
  &__container {
    color: $theme_light_black;
    font-weight: bold;
    margin: $space_5l auto;
    width: 1000px;
    @include mq() {
      width: 100%;
    }
  }
  &__img {
    display: block;
    height: 500px;
    object-fit: cover;
    margin: 0 auto;
    width: 500px;
    @include mq() {
      width: 100%;
      height: auto;
    }
  }
  &__name {
    font-size: $font_4xl;
    font-weight: bold;
    padding: $space_5l 0 $space_m;
    text-align: center;
    @include mq() {
      font-size: $font_m;
    }
  }
  &__body {
    font-size: $font_m;
    font-weight: bold;
    margin: 0 auto;
    padding: 0 300px;
    position: relative;
    -webkit-font-smoothing: antialiased;
    width: 300px;
    @include mq() {
      padding: 0 $space_3l;
      font-size: $font_s;
      width: 80%;
    }
  }
  &__status {
    color: $theme_white;
    padding: 10px 20px;
    position: absolute;
    right: 250px;
    top: 0;
    @include mq() {
      padding: $space_s $space_m;
      right: 30px;
      top: 0px;
    }
    &--normal {
      background: $theme_yellow;
    }
    &--check {
      background: $theme_green;
    }
  }
  &__expiration {
    color: $theme_gray;
    padding: $space_2l 0 $space_m;
  }
  &__category {
    color: $theme_gray;
    font-size: $font_s;
    padding-top: 5px;
    @include mq() {
      font-size: $font_sp-m;
    }
  }
  &__address {
    color: $theme_gray;
    padding-top: $space_s;
  }

  &__discount {
    color: $theme_dark_red;
    font-size: $font_2l;
    font-weight: bold;
    @include mq() {
      font-size: $font_l;
    }
  }
  &__discount-letter {
    color: $theme_dark_red;
  }
  &__price-gray {
    color: $theme_gray;
    text-decoration: line-through;
  }
  &__btn {
    box-sizing: border-box;
    border-radius: 0;
    border: none;
    color: $theme_white;
    cursor: pointer;
    display: block;
    font-size: $font_s;
    font-weight: bold;
    height: $space_4xl;
    line-height: $space_4xl;
    margin: $space_2l 0 100px;
    text-align: center;
    width: 300px;
    -webkit-appearance: none;
    @include mq() {
      width: 100%;
    }
    &:focus {
      outline: none;
    }
    &--normal {
      background: $theme_yellow;
    }
    &--hover-normal {
      background: $theme_yellow;
    }
    &--hover-normal:hover {
      background: darken($theme_yellow, 7%);
    }
    &--check {
      background: $theme_green;
      padding-right: $space_m;
    }
    &--warning {
      background: $theme_red;
    }
    &--hover-warning {
      background: $theme_red;
    }
    &--hover-warning:hover {
      background: darken($theme_red, 7%);;
    }
  }
}
