.p-auth-btn-animation-02 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.p-auth-btn-animation-02:before,
.p-auth-btn-animation-02:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
.p-auth-btn-animation-02__box {
  width: 400px;
  text-align: left;
  margin-top: $space_m;
  border-bottom: 3px solid $theme_gray_word_bottom;
  border-radius: 3px;
  background: $theme_gray_background;
}
.p-auth-btn-animation-02__input {
  display: none;
}
.p-auth-btn-animation-02__label:focus,
.p-auth-btn-animation-02__label:hover,
.p-auth-btn-animation-02__label:active,
.p-auth-btn-animation-02__label:checked + .p-auth-btn-animation-02__label {
  color: $theme_red
}
.p-auth-btn-animation-02__label:focus:before,
.p-auth-btn-animation-02__label:hover:before,
.p-auth-btn-animation-02__label:active:before,
.p-auth-btn-animation-02__label:checked + .p-auth-btn-animation-02__label:before {
  border-color: $theme_red;
  background: $theme_gray_background;
}
.p-auth-btn-animation-02__label {
  color: $theme_dark_gray;
  position: relative;
  display: block;
  overflow: hidden;
  padding: $space_m $space_m $space_m $space_5l;
  cursor: pointer;
  -webkit-transition: all 0.15s ease;
          transition: all 0.15s ease;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: $theme_gray_background;
  font-size: $font_m;
}
.p-auth-btn-animation-02__label:before {
  position: absolute;
  top: $space_m;
  left: $space_m;
  width: $space_m;
  height: $space_m;
  content: '';
  border: 0.2em solid $theme_gray_word_bottom;
  border-radius: 50%;
}
.p-auth-btn-animation-02__input:checked + .p-auth-btn-animation-02__label:before {
  border-color: $theme_red;
  background: $theme_red;
}
.p-auth-btn-animation-02__input:disabled + .p-auth-btn-animation-02__label {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.5);
  background: #efefef;
}
.p-auth-btn-animation-02__input:disabled + .p-auth-btn-animation-02__label:hover {
  border-color: rgba(0, 0, 0, 0.1);
}
.p-auth-btn-animation-02__input:disabled + .p-auth-btn-animation-02__label:before {
  border-color: $theme_gray_background;
  background: $theme_gray_background;
}
