/* ここから下がボタンのCSS　*/
.p-mypage-btn-animation-01 {
  display: inline-block;
  width: 150px;
  text-align: center;
  background-color: $theme_yellow;
  border: 2px solid $theme_yellow;
  color: $theme_yellow;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 4px;
  position: relative;
}

.p-mypage-btn-animation-01 span {
  position: relative;
  z-index: 1;
}

.p-mypage-btn-animation-01::before,
.p-mypage-btn-animation-01::after {
  content: "";
  display: block;
  background-color: $theme_white;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: .2s;
}
.p-mypage-btn-animation-01::before {
  left: 0;
}
.p-mypage-btn-animation-01::after {
  right: 0;
}

.p-mypage-btn-animation-01:hover:before,
.p-mypage-btn-animation-01:hover:after {
  width: 0;
  background-color: $theme_white;
}

.p-mypage-btn-animation-01:hover {
  color: $theme_white;
}
