.p-sub-head-modal{
  &__container {
    background: $theme_black;
    height: $space_7l;
    overflow: hidden;
  }
  &__bar {
    float: right;
    list-style: none;
    overflow: hidden;
    display: flex;
    @include mq(){
      float: none;
      justify-content: space-around;
    }
  }
  &__box {
    float: left;
    line-height: $space_7l;
    margin-right: $space_10l;
    &:hover {
      transition: .4s;
      opacity: .8;
    }
    @include mq(){
      margin-right: 0px;
    }
  }
  &__title {
    color: $theme_white;
    font-size: $font_m;
    padding-right: $space_2l;
    text-decoration: none;
    transition: .4s;
    @include mq(){
      font-size: $font_s;
      padding-right: 1px;
    }
  }
  &__logo {
    color: $theme_white;
    font-size: $font_m;
    @include mq(){
      font-size: $font_s;
    }
  }
}
