.l-footer {
  background: $theme_dark_header;
  color: $theme_white;
  height: $space_7xl;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: auto;
}
